header {
    padding-top: 2em;
    background-color: #4b2e83;
    color: white;
    padding-bottom: 2em;
    box-shadow: 0px 2px 10px 5px rgba(128, 128, 128, 0.51);
    max-width: 100%;
}

#emph {
    font-weight: bold;
}

main h1 {
    font-size: 36px;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-weight: 100;
    text-align: center;
}

#about {
    padding: 0;
}

.flexcontainer {
    padding-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.abouticon {
    max-height: 100px;
}

#icon {
    max-height: 350px;
    max-width: 350px;
}

h3 {
    text-align: left;
    font-size: 18pt;
    line-height: 1.6;
    font-weight: 100;
}

.description {
    font-size: 18px;
}

.feature {
    width: 25%;
    text-align: center;
}

div > p {
    font-size: 120px;
    font-weight: 600;
    color: #4b2e83;
}

section h1 {
    font-size: 40px;
}

section {
    padding-top: 3em;
}

main {
    padding-top: 2em;
}